@import 'material-icons/iconfont/material-icons.scss';
// @import '~bootstrap/scss/bootstrap';

// table {
//   border-collapse: collapse;
// }
table {
  border-collapse: collapse;
}
.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.page-header {
  flex-shrink: 0;
}
.page-content {
  flex-grow: 1;
  overflow: auto;
  min-height: 2em;
}
.page-footer{
  flex-shrink: 0;
}


/* override browser default */
html, body, .page-container {
  margin: 0;
  padding: 0;
  overflow-y:hidden;
  user-select: none;
  font-size: 1.2rem; /* cell height */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.page-container::-webkit-scrollbar {
  display: none;
}
// disable all fucking scrollbars (scrollbar still appeared on rpi)
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.page-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* use viewport-relative units to cover page fully */
html, body {
  height: 100vh;
  width: 100vw;
  position:relative;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #252526;
  //background-color: white;
  cursor: pointer;
}


a, a:hover, a:visited {
  color: silver;
  text-decoration: none;
}

.seq {
  width:100%;
  border-collapse: separate;
}
.seq, .seq-cell, .seq-cell-rowname, .seq-row, .seq-cell-sel, .note-on, .note-off, .note-on-accent {
  padding: 0;
  margin: 0;
  border-spacing: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}
.seq-cell, .seq-cell-rowname, .seq-cell-sel {
  cursor: pointer;
  font-family: monospace;
  //border: 1px solid darkslateblue;
  border: 1px solid #543344;
  // border-top: 1px solid #443344;
  // border-left: 1px solid #443344;
  // border-right: 1px solid #443344;
  // border-bottom: 1px solid #443344;
}
.seq-cell, .seq-cell-sel {
  width: auto;
}
.seq-cell-rowname {
  width: 2.25em;
  max-width: 2.25em;
  background-color: #050505;
  border: 1px solid #030303;
  text-align: right;
}
.pianowhite {
  background-color: #444444;
  border: 1px solid #333333;
  //color: #252526;
}
.seq-cell-sel {
  border: 1px solid orange;
  // border-top: 0.5px solid orange;
  // border-left: 0.5px solid orange;
  // border-right: 0.5px solid orange;
  // border-bottom: 0.5px solid orange;
}
.seq-row {
  width: 100%;
}

.note-off, .note-on, .note-on-accent {
  width: 50%;
  height: 100%;
  min-height: 100%;
  display: inline-table;
}

.note-on-accent {
  background-color: yellow;
}
.note-on {
  //background-color: peru;
  background-color: lightblue;
}
.note-on::before, .note-off::before, .note-on-accent::before {
  content: "\200B";
}
.note-off {
  background-color: black;
}

.bpm {
  cursor: pointer;
}

.button, .button2 {
  display: inline-block;
  background-color: lightblue;
  color: black;
}
.button-disabled {
  display: inline-block;
  background-color: lightblue;
  color: grey;
}

.button, .button2, .button-disabled {
  font-size: 1rem;
  padding: 1em;
  margin: .1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.button2 {
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin-left: 0em;
  margin-right: 0em;
}

.TableButtonTable {
  width:100%;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}
.TableButtonRow {
  width:100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.TableButton, .TableButton-disabled, .TableButton-highlight {
  display: table-cell;
  font-size: 1rem;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  margin: 0em;
  background-color: lightblue;
  color: black;
  text-align: center;
}
.TableButton-disabled {
  color: grey;
}
.TableButton-highlight {
  background-color: lightcyan;
  color: black;
}

H1 {
  margin: 0;
  font-size: 1em;
}
