
<div class="container" *ngIf="!pattern">
  LOADING PATTERN...
</div>

<div class="container" (window:keypress)="onKeyDown( $event )" *ngIf="pattern">
  <div class="header">
    <!--
    <h1><a routerLink="/detail">&lt;-- </a> Behringer TD-3 editor/programmer ({{ name }} {{ model }} ver {{ version }})</h1>
    -->
    <table class="seq">
      <tr class="row">
        <td class="cell-rowname">&nbsp;&nbsp;</td>
        <td [ngClass]="{'cell': lastStep != step, 'cell-sel':  lastStep == step}" *ngFor="let pitch of pattern.pitches; index as step" (mousedown)="selectColumn($event, step)">&nbsp;&nbsp;</td>
      </tr>
    </table>
  </div>

  <div class="content">
    <table class="seq">
      <tr class="row" *ngFor="let row_pitch of rows.slice().reverse()">
        <td [ngClass]="{'cell-rowname':true, 'pianowhite': pianowhite[row_pitch % pianowhite.length]}"><span *ngIf="row_pitch % 12 == 0">{{pianonotes[row_pitch % 12]}}{{mathRef.floor( row_pitch/12 )}}</span></td>
        <td [ngClass]="{'cell': !(lastPitch == row_pitch && lastStep == step), 'cell-sel':  lastPitch == row_pitch && lastStep == step}" *ngFor="let pitch of pattern.pitches; index as step">
            <span [ngClass]="{ 'note-off': !(pitch == row_pitch && pattern.rests[step] == 0), 'note-on': (pitch == row_pitch && pattern.rests[step] == 0 && pattern.accents[step] == 0), 'note-on-accent': (pitch == row_pitch && pattern.rests[step] == 0 && pattern.accents[step] == 1) }" (mousedown)="setPitch($event, step, row_pitch, 0)"></span><span [ngClass]="{ 'note-off': !(pitch == row_pitch && pattern.rests[step] == 0) || (pitch == row_pitch && pattern.rests[step] == 0 && pattern.slides[step] == 0), 'note-on': (pitch == row_pitch && pattern.rests[step] == 0 && pattern.slides[step] == 1 && pattern.accents[step] == 0), 'note-on-accent': (pitch == row_pitch && pattern.rests[step] == 0 && pattern.slides[step] == 1 && pattern.accents[step] == 1) }" (mousedown)="setPitch($event, step, row_pitch, 1)"></span>
          <!-- {{ pattern.rests[step] == 1 ? '&nbsp;&nbsp;' : (pitch == row_pitch ? ((pattern.accents[step] == 1 ? "a" : "-") + (pattern.slides[step] == 1 ? "s" : "-")) : '&nbsp;&nbsp;' )}} -->
        </td>
      </tr>
    </table>
  </div>

  <div (click)="selectColumn($event, -1)" class="footer">
    <div>
      <div class="button" (click)="onGroupButton($event)">Group {{(["I","II","III","IV"])[pattern.group]}}</div>
      <div class="button" (click)="setSection(0)">A1</div>
      <div class="button" (click)="setSection(1)">A2</div>
      <div class="button" (click)="setSection(2)">A3</div>
      <div class="button" (click)="setSection(3)">A4</div>
      <div class="button" (click)="setSection(4)">A5</div>
      <div class="button" (click)="setSection(5)">A6</div>
      <div class="button" (click)="setSection(6)">A7</div>
      <div class="button" (click)="setSection(7)">A8</div>
      <div class="button" (click)="setSection(8)">B1</div>
      <div class="button" (click)="setSection(9)">B2</div>
      <div class="button" (click)="setSection(10)">B3</div>
      <div class="button" (click)="setSection(11)">B4</div>
      <div class="button" (click)="setSection(12)">B5</div>
      <div class="button" (click)="setSection(13)">B6</div>
      <div class="button" (click)="setSection(14)">B7</div>
      <div class="button" (click)="setSection(15)">B8</div>
    </div>
    <div>
      <div [ngClass]="{'button': !isPlaying, 'button-disabled':  isPlaying}" (click)="start()">start</div>
      <div [ngClass]="{'button': isPlaying, 'button-disabled':  !isPlaying}" (click)="stop()">stop</div>
      <div class="button" (click)="onBpmButton($event)">{{ bpm }} bpm</div>
      <div class="button" (click)="onStepsButton($event)">steps {{pattern.step_count}}</div>
      <div [ngClass]="{'button': lastPitch != -1 && lastStep != -1, 'button-disabled':  lastPitch == -1 || lastStep == -1}" (click)="toggleAccent()">Accent</div>
      <div class="button" (click)="exit()" style="float:right">pwr</div>
    </div>

    <!-- midi port selector -->
    <!--
    <select (change)="openPort($event)" id="midiout" [(ngModel)]="midiout">
      <option *ngFor="let c of ports" [ngValue]="c">{{c}}</option>
    </select>
    -->

      <!-- <span (click)="selectColumn($event, -1)">smart ui for {{ name }} (model {{ model }} ver {{ version }})</span> -->
    <!--
    <div [ngClass]="{'button': true, 'button-disabled':  false}" (click)="init()">connect</div>
    -->
  </div>
</div>
